* {
	box-sizing: border-box;
}

main {
	height:100vh;
	height:100%;
	width: 100%;
	padding:1rem;
	background-color: #fff;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-gap: 1rem;
}

@media screen and (min-width: 40em){
main {
	grid-template-columns: .5fr .75fr 1fr;
	grid-template-rows: .5fr auto auto;
}
}

h1{
	margin:0;
	font-size: 1.5rem;
	color:#fff;
	font-family: 'Karla', sans-serif;
	letter-spacing: .30rem;
}

p{
	font-family: 'Zilla Slab', serif;
	font-size: 1.25rem;
	color:#fff;
} 

h2{
	font-family: 'Zilla Slab', serif;
	font-size: 1rem;
	color:#822645;
}

h3{
	font-family: 'Zilla Slab', serif;
	font-size: 1rem;
	color:#128676;
	}

h4{
	font-family: 'Zilla Slab', serif;
	font-size: 1rem;
	color:#D06B5A;
	}

.Todo{
	background-color: #989A6D;
	padding:1.5rem;
}
.Tolove{
	background-color:#CB946A;
	padding:1.5rem;
}
.Today{
	background-color: #C1C9CC;
	padding:1.5rem;
}
.quote{
	background-color:#989A6D;
	padding:1.5rem;
	text-align: center;
}
.Journal{
	background-color:#63728D;
	padding:1.5rem;
}
.Profile{
	background-color:#63728D;
	padding:1.5rem;
	text-align: center;
}
.Feeling {
	background-color:#C1C9CC;
	padding:1.5rem;
}


 @media screen and (min-width: 40em){
 .Todo{
	grid-column: 2;
	grid-row: 1;
}
.Tolove{
	grid-column: 2;
	grid-row:2;
}
.Today{
	grid-column: 3;
	grid-row: 1;
}
.Journal{
	grid-column:3;
	grid-row:2;
}
.quote{
	grid-column: 3;
	grid-row:3;
}
.Profile{
	grid-column: 1;
	grid-row:1/ span 2;
}
.Feeling{
	grid-column: 1/span 2;
	grid-row:3;
  }
}

li{
color:#fff;
list-style: square;
font-family: 'Zilla Slab', serif;
font-size: 1.25rem;
padding:1rem;
}

img.dock{
  width: 50%;
  margin:auto;
  }

img.chart{
   width: 175px;
   margin-left: 171px;
}

div.button ul{
	margin:0;
	padding:0;
	text-align: center;
}

div.button li{
	display: inline-block;
}

 div p{
 	font-size: 1.25rem;
 	margin-bottom: 3rem;
 	text-align: center;
 }

@media screen and (min-width: 40em) {
 nav ul {

display:grid;
grid-template-columns:1fr;
grid-row: 1fr;
  }
}

nav {
font-size: 1.25rem;
}

nav ul {
color: #fff;
}

nav ul a {
text-decoration: none; 
font-family: 'Zilla Slab', serif;
font-size: 1rem;
color:#fff;
}

 section.yoga{
 background-color:#CB946A;
 border-radius: 2rem;
 margin-bottom: 1rem;
 }

section.sleep{
 background-color:#CB946A;
 border-radius: 2rem;
 margin-bottom: 1rem;
 }

 section.group{
 background-color:#CB946A;
 border-radius: 2rem;
 margin-bottom: 1rem;
 }

 section.music{
 background-color:#CB946A;
 border-radius: 2rem;
 margin-bottom: 3rem;
 }

 a:hover{
 	color:#989A6D;
 }




